@model TattooShop.Models.TipoTrabajo

@{
    ViewBag.Title = "Detalles Tipo Trabajo";
}

@section Breadcumb {
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Inicio</a></li>
        <li class="breadcrumb-item"><a href="@Url.Action("Index")">Tipos Trabajo</a></li>
        <li class="breadcrumb-item active">Detalles</li>
    </ol>
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                Detalles
                <div class="card-actions">
                    <a href="@Url.Action("Edit", new { id = Model.id })"><i class="ti-pencil"></i> Editar</a>
                    <a href="@Url.Action("Index")"><i class="ti-arrow-left"></i> Volver</a>
                </div>
            </div>
            <div class="card-body">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Tipo)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Tipo)
                    </dd>

                </dl>
            </div>
        </div>
    </div>
</div>