@model IEnumerable<TattooShop.Models.TipoTrabajo>

@{
    ViewBag.Title = "Listado Tipos Trabajo";
}

@section Breadcumb {
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Inicio</a></li>
        <li class="breadcrumb-item active">Tipos Trabajo</li>
    </ol>
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                Listado
                <div class="card-actions">
                    <a href="@Url.Action("Create")"><i class="ti-plus"></i> Agregar</a>
                </div>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Tipo)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Tipo)
                                </td>
                                <td>
                                    <a href="@Url.Action("Edit", new { id = item.id })"><i class="ti-pencil"></i></a> &ensp;
                                    <a href="@Url.Action("Details", new { id = item.id })"><i class="ti-eye"></i></a> &ensp;
                                    <a href="@Url.Action("Delete", new { id = item.id })"><i class="ti-eraser"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>