@model TattooShop.Models.Artista

@{
    ViewBag.Title = "Eliminar Artista";
}

@section Breadcumb {
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Inicio</a></li>
        <li class="breadcrumb-item"><a href="@Url.Action("Index")">Artistas</a></li>
        <li class="breadcrumb-item active">Eliminar</li>
    </ol>
}

<div class="alert alert-danger alert-rounded">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">×</span> </button>
    <h4 class="text-warning"><i class="fa fa-exclamation-triangle"></i> <b>Advertencia!</b> Está a punto de eliminar este elemento.</h4>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                Eliminar
                <div class="card-actions">
                    <a href="@Url.Action("Edit", new { id = Model.id })"><i class="ti-pencil"></i> Editar</a>
                    <a href="@Url.Action("Index")"><i class="ti-arrow-left"></i> Volver</a>
                </div>
            </div>
            <div class="card-body">               
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.nombre)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.nombre)
                    </dd>
                </dl>                

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <button type="submit" class="btn btn-danger"><i class="ti-eraser"></i> Eliminar permanentemente</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>